<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: commonHead(~{::title})}">
  <meta charset="UTF-8">
  <title>タスク新規作成</title>
</head>
<body>
<h2>タスク新規作成</h2>
<span th:text="${errorMsg}" style="color: red"></span>
<form class="" th:action="@{/users/{userId}/projects/{projectId}/task/create(userId=${userId},projectId=${projectId})}" th:object="${taskForm}" method="post">
  <div>
    <label for="name">タスク名</label>
    <input id="name" type="text" th:field="*{name}" required>
  </div>
  <div>
    <label for="description">説明</label>
    <textarea id="description" type="text" th:field="*{description}" required></textarea>
  </div>
  <div>
    <label for="startDate">開始日</label>
    <input id="startDate" type="datetime-local" th:field="*{startDate}" required>
  </div>
  <div>
    <label for="endDate">終了日</label>
    <input id="endDate" type="datetime-local" th:field="*{endDate}" required>
  </div>
  <input type="submit" value="作成">
</form>
</body>
</html>