<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ナビゲーションバー</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- フラグメントとしてのナビゲーションバー -->
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/home/{userId}(userId=${userId})}">工程管理システム</a>

      <!--トグルボタン-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--ナビゲーションバーの詳細-->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">プロジェクト進捗確認</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/users/{userId}/info(userId=${userId})}">登録情報の確認</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">ログアウト</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</body>
</html>
