<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>プロジェクト一覧</title>
</head>
<body>
<h2>プロジェクト一覧</h2>
<table>
  <thead>
  <tr>
    <th>プロジェクト名</th>
    <th>説明</th>
    <th>詳細</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="project : ${projectList}">
    <td th:text="${project.name}"></td>
    <td th:text="${project.description}"></td>
    <td><a th:href="@{/project/{id}(id=${project.id})}"><icon>■</icon></a></td>
  </tr>
  </tbody>
</table>

</body>
</html>